# Godot 4+ specific ignores
.godot/
/android/
*.import
*.uid

#project.godot

# Art based ignores
/art/cards/
/art/hiddenImages/
/art/*.import
/art/Stone*
/art/Photo*
/art/CardFrame*

/build/
/addons/
/archive/
/data/sprite_sheets/
/TEMP/

logic/tools/all_code_combined.txt
logic/tools/make_big_code_file.py
print_project_tree.py
tempFindString.py
icon.svg
icon.svg.import
.DS_Store
logic/.DS_Store
